<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://funcdotnet2021xseoul-koreancentral.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/bfa5d97b-bcb7-4de5-844e-74c2758afdd2/resourcegroups/rg-jw-dotnetdev/providers/Microsoft.Web/sites/FuncDotNet2021xSeoul-KoreanCentral</ResourceId>
    <UserName>$FuncDotNet2021xSeoul-KoreanCentral</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://funcdotnet2021xseoul-koreancentral.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>